<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Abstract Factory</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Abstract Factory Pattern</h1>
    <form method="post">
      <h2>Platoon Type</h2>
      <div>
        <label>
          Medieval
          <input type="radio" name="platoon-type" value="Medieval" />
        </label>
        <label>
          Fantasy
          <input type="radio" name="platoon-type" value="Fantasy" />
        </label>
      </div>
      <input type="submit" value="Choose Platoon" />
    </form>

    {% if request.method == 'POST' %}
    <section>
      <h2>{{ request.form.get('platoon-type') }} Platoon</h2>

      {% for unit in platoon %}
      <p>{{ unit.attack() }}</p>
      {% endfor %}
    </section>
    {% endif %}
  </body>
</html>
